html body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8E8EE;
    line-height: 1.5;
}

header{
    font-size: 30px;
    color: #f1a5c1 ;
}

.sub-section > header{
    font-size: 20px;
    color: #ec95b5;
    text-decoration: underline;
}

.sub-section{
    padding-left: 50px;
}

.code{
    font-size: large;
    border: 1px solid #F2BED1;
}

#navbar{
    a{
    text-decoration: none;
    color: #F2BED1;
    font-size: 20px;} 
}

#Resources{
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
}
#main-doc {
    margin-left: 270px;
    padding: 20px;
}
#navbar {
    position: fixed;  
    top: 0;
    left: 0;
    height: 100%;  
    width: 250px;  
    background-color: #F9F5F6;  
    color: #F2BED1;  
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);  
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }
    .main-content {
        margin-left: 0;
    }
}